@use 'variaveis';
@use 'hero';
@use 'inform';
@use 'shows';
@use 'faq';
@use 'footer';
@use 'header';


@font-face {
    font-family: MontDemo;
    src: url(../../assets/fonts/MontDemo-ExtraLight.otf);
    font-weight: 400;
}

@font-face {
    font-family: MontDemo;
    src: url(../../assets/fonts/MontDemo-Heavy.otf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MontDemo, sans-serif;
}

body {
    list-style: none;
}

@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10px;
}

@mixin title($fontsize: 40px) {
    @include text($fontsize);
    color: variaveis.$BorderImg;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
    color: variaveis.$ColorLink;
    font-weight: bold
}

.text--small {
    @include text(12px);
    color: variaveis.$BorderImg;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$ColorLink;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
    letter-spacing: 1px;
    background-color: variaveis.$ColorTitle;
    border: 4px solid variaveis.$BorderImg;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width:768px) {
        padding: 5px;
        letter-spacing: normal;
    }

    &:hover {
        background-color: rgba(variaveis.$ColorTitle, .8);
    }

    &--transp {
        background-color: rgba(variaveis.$BorderImg, .5);
        border-color: variaveis.$ColorTitle;

            &:hover {
                background-color: variaveis.$ColorLink;
                
                a {
                    color: variaveis.$BorderImg;
                }
            }
    }
}